:root {
    --cor0:hsla(147, 78%, 93%, 0.689);
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

body {
    background-color:lightgray;
    align-items: center;
}

div.container {
    display: flex;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
}

div#turisdogando {
    background-color: var(--cor2);
    max-width: 400px;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

div#turisdogando h2 {
    color: var(--cor5);
}

div#turisdogando h3 {
    color: var(--cor5);
}

div#cursoHTML {
    background-color: lightblue;
    max-width: 400px;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

div#cursoHTML h3 {
    color: darkblue;
}

footer {
    text-align: center;
}